/* SilverWare Testimonials Variables
===================================================================================================================== */

// Borders:

$testimonial-border-width: 2px;

// Colors:

$testimonial-text-color:   $gray-600;
$testimonial-border-color: $gray-200;
$testimonial-footer-color: $gray-600;
$testimonial-date-color:   $gray-500;

// Sizes:

$testimonial-footer-line-height: 1.4;
$testimonial-date-font-size: 0.9rem;
$testimonial-organisation-font-size: 0.9rem;
